aiohttp==3.9.4
aiosignal==1.3.1
appdirs==1.4.4
async-timeout==4.0.2
attrs==22.1.0
charset-normalizer==2.1.1
frozenlist==1.3.3
hat-aio==0.7.3
hat-asn1==0.6.3
hat-chatter==0.5.9
hat-drivers==0.6.4
hat-event==0.7.35
hat-gateway==0.5.38
hat-gui==0.5.18
hat-json==0.5.13
hat-juggler==0.5.11
hat-monitor==0.6.13
hat-peg==0.5.5
hat-sbs==0.6.2
hat-util==0.5.10
idna==3.7
jsonpatch==1.32
jsonpointer==2.3
jsonschema==4.7.2
lmdb==1.4.0
multidict==6.0.3
pyrsistent==0.19.2
pyserial==3.5
PyYAML==6.0
tomli==2.0.1
tomli_w==1.0.0
yarl==1.8.2
